{
  "extends": [
    "@ljharb/eslint-config/esm",
    "plugin:flowtype/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
  },
  "env": {
    "es6": true,
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "indent": [2, 2],
  },
  "overrides": [
    {
      "files": [
        "scripts/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": [
        "__tests__/**/*.js"
      ],
      "extends": [
        "@ljharb/eslint-config/tests",
      ],
      "env": {
        "node": true,
      },
    }
  ]
}
